<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>[Your Tenant Name, e.g. *.onmicrosoft.com]</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>[Your Website URL, e.g. http://*.azurewebsites.net]</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>[e.g. *.scm.azurewebsites.net:443]</MSDeployServiceURL>
    <DeployIisAppPath>[Deploy Path]</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$[User Name]</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="VoteAppDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=[Your SQL Server].database.windows.net;Initial Catalog=VoteAppDB;Persist Security Info=True;User ID=[Admin User Name];Password=[Password]" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VoteAppService.Models.VoteAppDbContext, VoteAppService" MigrationConfiguration="VoteAppService.Migrations.Configuration, VoteAppService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>[App ID URI]</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>[Client ID]</ADClientAPPID>
    <ADReplyUrl>[Reply URL, e.g. https://*.azurewebsites.net/]</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>[Tenant ID]</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VoteAppDbContext-Web.config Connection String">
      <ParameterValue>Data Source=[Your SQL Server].database.windows.net;Initial Catalog=VoteAppDB;Persist Security Info=True;User ID=[Admin User Name];Password=[Password]</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>